Part4_n8n_based_MCP_PJT/clip1_stock_report_MCP/workflows/Scrape Page.json
{
  "name": "Scrape Page",
  "nodes": [
    {
      "parameters": {
        "html": "={{ $json.data }}"
      },
      "type": "n8n-nodes-webpage-content-extractor.webpageContentExtractor",
      "typeVersion": 1,
      "position": [
        624,
        256
      ],
      "id": "82981d84-a8bc-42e2-a7b9-7b4b0bfc9edc",
      "name": "WebpageContentExtractor"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "16e65160-34a1-4d07-bd0d-5c6b8cb45b3d",
              "name": "textContent",
              "value": "={{ $json.textContent }}",
              "type": "string"
            },
            {
              "id": "8950b216-65df-4ddd-afc6-af2196b33135",
              "name": "success",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        256
      ],
      "id": "df10dca1-7077-47a3-b130-610d87541ff9",
      "name": "Text Content"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        256
      ],
      "id": "8dc1e3ba-57d0-4f8c-8179-8476ffda108c",
      "name": "Scrape Page",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5b90ace5-f51b-40ea-9f62-ee8088cc2045",
              "name": "success",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "1e2e9105-138a-4d70-b137-b4b0b3e8e7a7",
              "name": "message",
              "value": "웹문서 수집에 실패했습니다.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        432
      ],
      "id": "686fe17d-4d28-410e-8433-7e57651ccedb",
      "name": "Error"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "url"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        256
      ],
      "id": "3cbf08d7-47bd-46f3-b24a-82842d2ceedb",
      "name": "Parameters"
    }
  ],
  "connections": {
    "WebpageContentExtractor": {
      "main": [
        [
          {
            "node": "Text Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Page": {
      "main": [
        [
          {
            "node": "WebpageContentExtractor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parameters": {
      "main": [
        [
          {
            "node": "Scrape Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "e3fdaaf60e2c627d3c0a8ba075e3815e24ea9d8307dd24a904e5c8d8daa0cf76"
  }
}