Part3_n8n_Basic/ch02/Agent Practice.json
{
  "name": "Agent Practice",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "*"
        ],
        "additionalFields": {}
      },
      "id": "e45bedf3-7318-47ff-a301-246ff056e0fd",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        400,
        96
      ],
      "webhookId": "912e007f-19d9-4b5a-a90e-12ba01c9978d",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "IgUPmbpAGHz44zlW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      },
      "id": "845b1816-eec3-4507-b325-7967b34934c8",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        656,
        384
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=## 개요\n사용자의 요청을 수행하는 아주 친절한 개인 비서입니다.\n사용자의 이름은 \"단테\"야. 친근한 말투로 응답해줘. .\n아래 도구를 적절히 사용해서 사용자 요청에 답변을 생성해줘.\n답변은 항상 과거 대화 기록을 Memory에서 참고해서 생성해줘.\n현재 날짜에 작업을 수행하도록 요청받을 경우, 현재 시간과 날짜를 사용해줘: {{$now}}\n\n## 도구\n1.Think : 복잡한 작업에 대한 요청시, 작업 수행 전과 수행 중에 를 사용해서 절차대로 진행하고 있는지 점검하면서 진행해줘.\n2.SerpAPI : 검색해야할 정보를 요청 받는 경우 웹검색을 해서 최신 정보에 대한 내용을 파악해서 답변 생성해줘.\n\n## 출력\n결과를 출력해야 하며 링크를 포함하지 말것. "
        }
      },
      "id": "44ca94e8-0135-4c3e-9149-e546b4bd996d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        640,
        96
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "id": "307153fc-9eea-4eb8-b206-055120fba93e",
      "name": "Typing Action",
      "type": "n8n-nodes-base.telegram",
      "position": [
        640,
        -80
      ],
      "webhookId": "2479f7f8-6d54-4d45-921e-af6dcfae768e",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "IgUPmbpAGHz44zlW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$('Telegram Trigger').first().json.message.chat.id}}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "62b6293b-7368-4bbf-bad2-6a6d2a4153e7",
      "name": "Send Response To Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1008,
        96
      ],
      "webhookId": "76e4b8a4-1086-4d24-b60e-b96942d83bdf",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "IgUPmbpAGHz44zlW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        784,
        384
      ],
      "id": "ca12ea14-03a7-42d7-a494-45394ccdb767",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "J4xugzixE4qVJ5lk",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "description": "이 도구를 사용하여 복잡한 추론이 필요할때 다음 작업을 어떻게 수행할 것인지 계획을 세우세요.\n이 도구는 새로운 정보를 얻거나 데이터베이스를 변경하지 않으며, 단순히 생각을 로그에 추가합니다."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        928,
        384
      ],
      "id": "9666ea4e-702e-4e9c-874d-1900949e93d6",
      "name": "Think"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        512,
        384
      ],
      "id": "25256374-6607-4289-8bfd-af2f9ab0ec18",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "IstxAvtJ1xbwBhzi",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Response To Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Typing Action",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Response To Telegram": {
      "main": [
        []
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37666c61-79e8-4d52-93d6-04bc544815a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1d2666320bb19d8da8975c9b1013bd7bdad6e0bf91ffe1acdc74e48c3285fb2f"
  },
  "id": "69bMhpLKGcCNB7hV",
  "tags": []
}